[submodule "external/slang"]
	path = external/slang
	url = https://github.com/MikePopoloski/slang.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
