[submodule "external/slang"]
	path = external/slang
	url = https://github.com/MikePopoloski/slang.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/cpp-vcd-tracer"]
	path = external/cpp-vcd-tracer
	url = git@github.com:nakane1chome/cpp-vcd-tracer.git
[submodule "external/apb_gpio"]
	path = external/apb_gpio
	url = git@github.com:pulp-platform/apb_gpio.git
[submodule "external/verilog-vcd-parser"]
	path = external/verilog-vcd-parser
	url = git@github.com:ben-marshall/verilog-vcd-parser.git
